/* CSS RESET - START */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color:floralwhite;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS RESET - END */

/* LAYOUT */
#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  max-width: 800px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

div.header {
  min-width: 400px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  flex: 1 1 400px;
  align-items: flex-start;
}

/* FORM */

form {
  flex: 1 0 200px;
  margin: 1rem;
}

label {
  font-weight: 700;
  margin-bottom: 0.4rem;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  height: 2rem;
  padding: 0.8rem 0.5rem;
}

input[type='submit'] {
  background-color:cyan;
  height: 3.5rem;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid black;
}

input[type='submit']:hover {
  background-color: yellow;
  transform: scale(102%);
}

td.td-center {
  text-align: center;
}

td.td-right {
  text-align: right;
}

.fw-700 {
  font-weight: 700;
}

/* TABLE */

table {
  flex: 1 0 400px;
  margin: 1rem;
}

tr {
  border: 1px solid black;
}

th, td {
  padding: 0.4rem;
}
th {
  background-color: yellow;
}

tr:nth-child(even) {
  background-color: cyan;
}

tr:nth-child(odd) {
  background-color: rgba(0, 255, 255, 0.3);
}

tr:last-child {
  background-color: rgba(255, 0, 255, 0.4);
}